@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.row {
  .leftCard {
    overflow-x: hidden;
    height: 100%;
    :global {
      .ant-dropdown-menu-item {
        padding: 0 12px;
      }
      .ant-card-body {
        @media screen and (max-width: 1440px) {
          height: 540px;
        }
        height: 720px;
      }
    }
    .menus {
      margin-left: 110px;
      margin-top: 8px;
      border: 2px solid #2eabff;
    }
    .MENU {
      color: #000;
      font-weight: 600;
    }
    .ROUTE {
      color: #150303;
    }
    .BUTTON {
      color: #02020a;
    }
  }
  .centerCards {
    :global {
      .ant-card {
        margin-bottom: 10px;
      }
      .ompIcon {
        font-size: 30px;
        line-height: 48px;
        margin-right: 0;
      }
    }
    .listCard {
      @media screen and (max-width: 1440px) {
        height: 540px;
      }
      height: 720px;
      overflow-x: hidden;
      :global {
        .ant-avatar-lg {
          width: 48px;
          height: 48px;
          line-height: 48px;
        }
        .ant-tag {
          font-size: 14px;
          height: 24px;
          line-height: 24px;
        }
        .ant-list-item-meta {
          flex: none;
        }
      }
      .MENU {
        background: -webkit-linear-gradient(
          left,
          #1fe0ad,
          #cff,
          #1bd8b6,
          #1bd8b6,
          #1bd8b6,
          #cff,
          #0dbfd3
        );
      }
      .ROUTE {
        background: -webkit-linear-gradient(
          left,
          #00bfff,
          #cff,
          #1e90ff,
          #1e90ff,
          #1e90ff,
          #cff,
          #00bfff
        );
      }
      .BUTTON {
        background: -webkit-linear-gradient(
          left,
          #c9abff,
          #cff,
          #a995ff,
          #c9abff,
          #a291ff,
          #cff,
          #a291ff
        );
      }
    }
  }
  .listContent {
    font-size: 0;
    .listContentItem {
      color: @text-color-secondary;
      display: inline-block;
      vertical-align: middle;
      font-size: @font-size-base;
      margin-left: 40px;
      > span {
        line-height: 20px;
      }
      > p {
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 22px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.avatarIcon {
  font-size: 30px;
  line-height: 48px;
  margin-right: 0;
}

.iconsList {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  .checkedLi {
    background: #252245;
    color: #fff;
  }
  li {
    float: left;
    width: 10%;
    text-align: center;
    list-style: none;
    cursor: pointer;
    height: 100px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s;
    background-color: #fff;
    &:hover {
      background-color: #ccc;
      color: #fff;
    }
    i {
      margin: 16px 0 10px;
    }
    span {
      display: block;
      text-align: center;
    }
  }
}
@media screen and (max-width: @screen-xs) {
  .centerCards {
    :global {
      .ant-list-item-content {
        display: block;
        flex: none;
        width: 100%;
      }
      .ant-list-item-action {
        margin-left: 0;
      }
    }
    .listContent {
      margin-left: 0;
      & > div {
        margin-left: 0;
      }
    }
    .listCard {
      :global {
        .ant-card-head-title {
          overflow: visible;
        }
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .centerCards {
    .extraContentSearch {
      margin-left: 0;
      width: 100%;
    }
    .headerInfo {
      margin-bottom: 16px;
      & > em {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .centerCards {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
  .listCard {
    :global {
      .ant-radio-group {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-lg) and (min-width: @screen-md) {
  .centerCards {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .centerCards {
    .listContent {
      & > div {
        margin-left: 24px;
      }
      & > div:last-child {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .centerCards {
    .listContent {
      text-align: right;
      & > div:last-child {
        top: 0;
      }
    }
  }
}
