@import '~antd/lib/style/themes/default.less';

//最顶层
.top {
  display: flex;
  justify-content: space-between;
  //overflow-y: auto;
  height: calc(~'100vh - 144px');
}
//左边树菜单
.left {
  //overflow-x: hidden;
  width: 25%;
  background-color: #fff;
  padding: 24px;
  & > span {
    &:first-child {
      margin-bottom: 24px;
    }
  }
}
//右边卡片结构
.card {
  width: calc(75% - 24px);
  :global {
    .ompIcon {
      font-size: 30px;
      line-height: 48px;
      margin-right: 0;
    }
    .ant-card-head-title {
      overflow: visible;
    }
    .ant-avatar-lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
    .ant-tag {
      font-size: 14px;
      height: 24px;
      line-height: 24px;
    }
  }
  .list {
    overflow-x: hidden;
    height: calc(~'100vh - 297px');
  }
}

.MENU {
  background: -webkit-linear-gradient(
    left,
    #1fe0ad,
    #cff,
    #1bd8b6,
    #1bd8b6,
    #1bd8b6,
    #cff,
    #0dbfd3
  );
}
.ROUTE {
  background: -webkit-linear-gradient(
    left,
    #00bfff,
    #cff,
    #1e90ff,
    #1e90ff,
    #1e90ff,
    #cff,
    #00bfff
  );
}
.BUTTON {
  background: -webkit-linear-gradient(
    left,
    #c9abff,
    #cff,
    #a995ff,
    #c9abff,
    #a291ff,
    #cff,
    #a291ff
  );
}
.listContent {
  .listContentItem {
    color: @text-color-secondary;
    display: inline-block;
    vertical-align: middle;
    font-size: @font-size-base;
    margin-left: 40px;
    > span {
      line-height: 20px;
    }
    > p {
      margin-top: 4px;
      margin-bottom: 0;
      line-height: 22px;
    }
  }
}
.avatarIcon {
  font-size: 30px;
  line-height: 48px;
  margin-right: 0;
}

.iconsList {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  .checkedLi {
    background: #252245;
    color: #fff;
  }
  li {
    float: left;
    width: 10%;
    text-align: center;
    list-style: none;
    cursor: pointer;
    height: 100px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s;
    background-color: #fff;
    &:hover {
      background-color: #ccc;
      color: #fff;
    }
    i {
      margin: 16px 0 10px;
    }
    span {
      display: block;
      text-align: center;
    }
  }
}
@media screen and (max-width: @screen-xs) {
  .centerCards {
    :global {
      .ant-list-item-content {
        display: block;
        flex: none;
        width: 100%;
      }
      .ant-list-item-action {
        margin-left: 0;
      }
    }
    .listContent {
      margin-left: 0;
      & > div {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .centerCards {
    .extraContentSearch {
      margin-left: 0;
      width: 100%;
    }
    .headerInfo {
      margin-bottom: 16px;
      & > em {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .centerCards {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
  .listCard {
    :global {
      .ant-radio-group {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-lg) and (min-width: @screen-md) {
  .centerCards {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .centerCards {
    .listContent {
      & > div {
        margin-left: 24px;
      }
      & > div:last-child {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .centerCards {
    .listContent {
      text-align: right;
      & > div:last-child {
        top: 0;
      }
    }
  }
}
